In [1]:
import numpy as np

In [2]:
mylist = [1, 2, 3, 4]
x = np.array(mylist)
x

array([1, 2, 3, 4])

In [3]:
y = np.array([4, 5, 6, 7])
y

array([4, 5, 6, 7])

In [4]:
m = np.array([[1, 2, 3], [4, 5, 6]])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
m.shape

(2, 3)

In [6]:
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [7]:
n = n.reshape(5,3)
n

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16],
       [18, 20, 22],
       [24, 26, 28]])

In [8]:
o = np.linspace(0, 4, 9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [9]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [10]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [11]:
np.eye(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [12]:
np.diag(y)

array([[4, 0, 0, 0],
       [0, 5, 0, 0],
       [0, 0, 6, 0],
       [0, 0, 0, 7]])

In [13]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [14]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [15]:
p = np.ones((2, 3), int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [16]:
np.vstack([p, 3*p])

array([[1, 1, 1],
       [1, 1, 1],
       [3, 3, 3],
       [3, 3, 3]])

In [17]:
np.hstack([p, 3*p])

array([[1, 1, 1, 3, 3, 3],
       [1, 1, 1, 3, 3, 3]])

In [18]:
x + y

array([ 5,  7,  9, 11])

In [19]:
x * y

array([ 4, 10, 18, 28])

In [20]:
x**3

array([ 1,  8, 27, 64], dtype=int32)

In [21]:
x.dot(y)

60

In [22]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6,  7],
       [16, 25, 36, 49]])

In [23]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36],
       [ 7, 49]])

In [24]:
a = np.array([-4, -2, 1, 3, 5])

In [25]:
a.sum()

3

In [26]:
a.max()

5

In [27]:
a.min()

-4

In [28]:
a.mean()

0.6

In [29]:
a.std()

3.2619012860600183

In [30]:
s = np.arange(13) ** 2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [31]:
s[0], s[4], s[3:5]

(0, 16, array([ 9, 16], dtype=int32))

In [32]:
s[:-4]

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64], dtype=int32)

In [33]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

In [34]:
r = np.arange(36)
r = np.resize(r, (6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [35]:
r[3, 3]

21

In [36]:
r[3, 3:6]

array([21, 22, 23])

In [37]:
r[-1, ::2]

array([30, 32, 34])

In [38]:
r[r < 30]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [39]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [40]:
r2 = r[:3, :3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [41]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [42]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [43]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [44]:
r_copy[:] = 3
r_copy

array([[3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3]])

In [45]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [46]:
test = np.random.randint(0, 10, (4, 3))
test

array([[0, 4, 2],
       [9, 1, 2],
       [9, 8, 2],
       [1, 1, 4]])

In [47]:
for row in test:
    print(row)

[0 4 2]
[9 1 2]
[9 8 2]
[1 1 4]

In [48]:
for i, row in enumerate(test):
    print("row", i, "is", row)

row 0 is [0 4 2]
row 1 is [9 1 2]
row 2 is [9 8 2]
row 3 is [1 1 4]

In [49]:
test2 = test ** 2

In [50]:
test2

array([[ 0, 16,  4],
       [81,  1,  4],
       [81, 64,  4],
       [ 1,  1, 16]], dtype=int32)

In [51]:
for i, j in zip(test, test2):
    print(i, "+", j, "=", i+j)

[0 4 2] + [ 0 16  4] = [ 0 20  6]
[9 1 2] + [81  1  4] = [90  2  6]
[9 8 2] + [81 64  4] = [90 72  6]
[1 1 4] + [ 1  1 16] = [ 2  2 20]

In [52]:
r = np.arange(36)
r = np.resize(r, (6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [53]:
r[::7]

array([[0, 1, 2, 3, 4, 5]])

In [54]:
r[:, ::7]

array([[ 0],
       [ 6],
       [12],
       [18],
       [24],
       [30]])

In [55]:
r.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])

In [56]:
r[[2, 3], [2, 3]]

array([14, 21])

In [57]:
r[2:4, 2:4]

array([[14, 15],
       [20, 21]])

In [58]:
%timeit L = [n**2 for n in range(1000)]

320 µs ± 12 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [59]:
%%timeit 
l = []
for n in range(1000):
    l.append(n**2)

380 µs ± 13.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [60]:
l1 = [1, 2, 3, 4]

In [61]:
l2 = l1
l2

[1, 2, 3, 4]

In [65]:
def add(x, y, z=None):
    if z == None:
        return x+y
    else:
        return x+y+z
        
print(add(1,3))
print(add(1,4,5))

4
10

In [67]:
a = add
a(1,2)

3

In [82]:
x = "This is a string"
x[:-2]

'This is a stri'

In [84]:
name = 'Christopher Arthur Hansen Brooks'
firstname = name.split(" ")[0]
print(firstname)
lastname = name.split(" ")[-1]
print(lastname)

Christopher
Brooks

In [85]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}

In [86]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com

In [89]:
for name, email in x.items():
    print(name + " : " + email)

Christopher Brooks : brooksch@umich.edu
Bill Gates : billg@microsoft.com

In [90]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [92]:
fname

'Christopher'

In [93]:
email

'brooksch@umich.edu'

In [95]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

In [97]:
sales_statement = "{} bought {} items for a total price of {}"

print(sales_statement.format(sales_record["person"],
                            sales_record["num_items"],
                            sales_record["num_items"]*sales_record["price"]))

Chris bought 4 items for a total price of 12.96

In [104]:
import datetime as dt
import time as tm

In [105]:
tm.time()

1594553495.919517

In [107]:
date = dt.datetime.fromtimestamp(tm.time())
date

datetime.datetime(2020, 7, 12, 17, 2, 16, 196518)

In [108]:
date.year

2020

In [109]:
date.month, date.day

(7, 12)

In [119]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
minimum = map(min, store1, store2)
print (min)
maximum = map(max, store1, store2)
print (max)

<map object at 0x000001C697E96308>
<map object at 0x000001C697E96E08>

In [122]:
my_list = [number**2 for number in range(20) if number**2 % 2 == 0]
my_list

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [125]:
a = np.array([-4, -2, 1, 3, 5])

In [129]:
a.min(), a.max(), a.sum(), a.mean(), a.std()

(-4, 5, 3, 0.6, 3.2619012860600183)

In [131]:
a.argmax(), a.argmin()

(4, 0)